<div class=" p-2 m-2 alin"> 
  <button id="btn"class="  btn btn-secondary btn-block btn-sm"  data-bs-toggle="modal" data-bs-target="#change-modo" >{{!showMe ? "Admin":"Menu"}}</button>
</div>

  
  <div class="align-items-center">
    <div class="text-center" >
      <img class="rounded"  style="width: 220px; height:150px ; " src="../../assets/menu.jpg" alt="menu">
    </div>

    <h1  class="m-2 font-weight-bold; text-center " >{{!showMe ? "":"Registro de Menu"}}</h1>
  </div>

  
 
 <div class="modal fade" id="change-modo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cambiar vista: {{!showMe ? "Administrador":"Menu"}}   </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="titulo">

         
          <form id="dados" onsubmit="clave()" >
            <div class="form-group">
               <label for="password">Coloque su password:</label>
               <input type="password" class="form-control" placeholder="password" name="password" id="password" [(ngModel)]="password"/>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary m-2" data-bs-dismiss="modal" (click)="clave()"  >Confirmar</button>
               <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Salir</button> 


            </div>
            </form>









              <!-- 


           <form id="add-form2" #pass="ngForm"  novalidate >
            <label for="password">Coloque su contraseña:</label>
            <input type="text" name="password" id="password" class="form-control" placeholder="password" ([ngModel])="password" >
            <div class="form-group">               
              <button type="submit" class="btn btn-primary"  (click)="hidden()"  >Confirmar</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>  
            </div>


          </form> -->
          
          <!-- <form id="add-form" (ngSubmit)=".form.valid && saveItem(f)" #pass="ngForm" novalidate>
            <div class="form-group">
              
                <label for="PASSWORD">Coloque su password</label>
                <input type="text" [(ngModel)]="PASSWORD" id="PASSWORD" name="PASSWORD" #PASSWORD="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': pass.submitted && PASSWORD.invalid }" placeholder="Coloque el su password">
                
            </div>
                          
          <div class="form-group">               
            <button type="submit" class="btn btn-primary btn-add-car" (click)="hidden()">Confirmar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>  
          </div>
          </form> --> 

        </div>
      </div>
      <div class="modal-footer">
        
        
      </div>
    </div>
  </div>
</div> 




  

    




 
 <div *ngIf=!showMe>
  <div class = "" id="carta1">
     
        
        <div lass="text-center">
            <h3 class="text-center m-3 p -3 ">Tipos de comida:</h3>
        <br>
        </div>
        
        <div class=" col m-0 text-center align-items-center">
            <button type="button" id="xx3" class="btn btn-info m-1 " (click)="todas()">Todas</button> 
            <button type="button" class="btn btn-success  m-1 "(click)="carne()">Vegetariana</button> 
            <button type="button" class="btn btn-warning m-1"(click)="verde()">Normal</button> 
            
    
        </div>

        <aside class=" m-3 d-flex-col card  w-10" style="width: 10rem;" id="aside">
          <div class="card-body">
          <div class="panel panel-primary">
          <div id="divTotal" class="panel-heading">
              <h3 p-2 class="panel-title card text-center">Total</h3>
          </div>
          <div class="panel-body">
              <h2 class="card text-center">Rs. 0</h2>
          </div>
      </div>
       
      <div class="text-center">
          <a href="#/checkout" class="btn btn-danger">Checkout <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
          </a>
      </div>


        <div>
            <button type="button" class="btn btn-danger m-2 float-start" style="position: absolute; z-index: 999;">Cancelar</button> 
        </div>
        </div>
      </aside>
        


        <div class="container d-md-flex p-3">
        <div class=" d-md-flex p-3  bd-highlight justify-content-between " *ngFor="let item of items.items ">
            <article *ngIf="(normal && item.TIPO_COMIDA)" class="  shadow border-dark rounded-3 p-3 m-2 " >
            
            
              <div class="card" style="width: 18rem;">
                <img src="{{item.FOTO_URL}}"  class="card-img-top" alt="{{ item.ITEM_NAME }}">
                <div class="card-body">
                  <h4 class="card-title">{{ item.ITEM_NAME }}</h4>
                  <p class="card-text">{{ item.DESCRIPCION }}</p>
                  <p class="card-text"><b>{{ item.PRECIO | currency:'BRL' }}</b></p>
                  



                  
                  <form id="costos" onsubmit="sumatoria()">
                    <div class="mb-3">
                      
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input"  value="{{ item.PRECIO }}" name="checkbox" id="checkbox">
                      <label class="form-check-label" for="checkbox + {{item.id}}" >Select me!! </label>
                    </div>
                    
                   </div>
                  </form>
                </div>
            </div>
          </article>  

              
            <article *ngIf="vegetariana && !item.TIPO_COMIDA" class=" shadow border-dark rounded-3 p-3 m-2 " >
            
            <div class="card" style="width: 18rem;">
              <img src="{{item.FOTO_URL}}"  class="card-img-top" alt="{{ item.ITEM_NAME }}">
              <div class="card-body">
                <h4 class="card-title">{{ item.ITEM_NAME }}</h4>
                <p class="card-text">{{ item.DESCRIPCION }}</p>
                <p class="card-text"><b>{{ item.PRECIO | currency:'BRL' }}</b></p>
                <form>
                  <div class="mb-3">
                    
                  <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" value="{{ item.PRECIO }}"  id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1" >Select Me!!</label>
                  </div>
                
                 </div>
                </form>
              </div>
          </div>
        </article>  

        <article *ngIf=" completa && (( normal && item.TIPO_COMIDA ) && (vegetariana && !item.TIPO_COMIDA))" class="  shadow border-dark rounded-3 p-3 m-2 " >
           
          <div class="card" style="width: 18rem;">
            <img src="{{item.FOTO_URL}}"  class="card-img-top" alt="{{ item.ITEM_NAME }}">
            <div class="card-body">
              <h4 class="card-title">{{ item.ITEM_NAME }}</h4>
              <p class="card-text">{{ item.DESCRIPCION }}</p>
              <p class="card-text"><b>{{ item.PRECIO | currency:'BRL' }}</b></p>
              <form>
                <div class="mb-3">
                  
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Select Me!!</label>
                </div>
               
               </div>
              </form>
            </div>
        </div>





            </article>  


        </div>



            
        </div>

    
</div>

 </div> 
<div *ngIf="showMe">
                        




                             <!-- Button trigger modal -->
                             <div class="text-center px-xl-3">                        
    <button  id="btn" type="button" class="btn btn-success btn-block" data-bs-toggle="modal" data-bs-target="#plato-form-modal">
      Crear Plato
    </button>
  </div>

    <!-- Modal -->
   <div class="modal fade" id="plato-form-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Creacion de nuevo plato</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="titulo">
              
              <form id="add-form" (ngSubmit)="f.form.valid && saveItem(f)" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="ITEM_NAME">ITEM NAME</label>
                    <input type="text" [(ngModel)]="item.ITEM_NAME" id="ITEM_NAME" name="ITEM_NAME" #ITEM_NAME="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && ITEM_NAME.invalid }" placeholder="Coloque el nombredel plato">
                    <div *ngIf="f.submitted && ITEM_NAME.invalid" class="invalid-feedback">
                        <div *ngIf="ITEM_NAME?.errors?.required">Plato es obligatorio</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="DESCRIPCION">DESCRIPCION</label>
                    <input type="text" [(ngModel)]="item.DESCRIPCION" id="DESCRIPCION" name="DESCRIPCION" #DESCRIPCION="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && DESCRIPCION.invalid }" placeholder="Coloque la descripcion">
                    <div *ngIf="f.submitted && DESCRIPCION.invalid" class="invalid-feedback">
                        <div *ngIf="DESCRIPCION?.errors?.required">Descripcion es obligatoria</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="PRECIO">PRECIO</label>
                    <input type="number" [(ngModel)]="item.PRECIO" id="PRECIO" name="PRECIO" #PRECIO="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && PRECIO.invalid }" placeholder="Marque el precio">
                    <div *ngIf="f.submitted && PRECIO.invalid" class="invalid-feedback">
                        <div *ngIf="PRECIO?.errors?.required">Precio es Obligatorio</div>
                    </div>
                </div>
                <div class="form-group">
                  <label for="FOTO_URL">FOTO URL</label>
                  <input type="text" [(ngModel)]="item.FOTO_URL" id="FOTO_URL" name="FOTO_URL" #FOTO_URL="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && FOTO_URL.invalid }" placeholder="El url de la foto">
                  <div *ngIf="f.submitted && FOTO_URL.invalid" class="invalid-feedback">
                      <div *ngIf="FOTO_URL?.errors?.required">La url es obligatoria</div>
                  </div>
                </div>
                    <div class="form-group">
                        <label for="TIPO_COMIDA">TIPO DE COMIDA</label>
                    
                            <div class="form-check form-check-inline" >
                                    <input class="form-check-input" type="radio" [(ngModel)]="item.TIPO_COMIDA" value= 0 checked name="flexRadioDefault" id="flexRadioDefault1" #TIPO_COMIDA="ngModel" required >
                                    <label class="form-check-label" for="TIPO_COMIDA">
                                    Normal
                                    </label>
                            </div>
                          <div class="form-check form-check-inline" >
                              <input class="form-check-input" type="radio" [(ngModel)]="item.TIPO_COMIDA" value= 1   id="flexRadioDefault2" name="TIPO_COMIDA" #TIPO_COMIDA="ngModel" required  >
                              <label class="form-check-label" for="TIPO_COMIDA1">
                              Vegetariana
                              </label>  
                          </div>
                      </div>  
                
              


                        
              <div class="form-group">               
                <button type="submit" class="btn btn-primary btn-add-car">Salvar</button>
                <button type="reset" class="btn btn-warning btn-add-car" (click)="cleanForm(f)">Limpiar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>  
              </div>
              </form>



            </div>
          </div>
          <div class="modal-footer">
            
            
          </div>
        </div>
      </div>
    </div> 

















                        <!-- <!-- Modal Create User -->
                      <!--   <div class="modal fade" role="dialog" tabindex="-1" id="plato-form-modal">
                          <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                  <div class="modal-header">
                                        <h5 class="modal-title">Crear Plato
                                          
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal">
                                          <span aria-hidden="true">×</span>
                                        </button>
                                  </div>
                              <div id="menu" class="container">                                
                                <form id="add-form" (ngSubmit)="f.form.valid && saveItem(f)" #f="ngForm" novalidate>
                                  <div class="form-group">
                                      <label for="ITEM_NAME">ITEM NAME</label>
                                      <input type="text" [(ngModel)]="item.ITEM_NAME" id="ITEM_NAME" name="ITEM_NAME" #ITEM_NAME="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && ITEM_NAME.invalid }" placeholder="Coloque el nombredel plato">
                                      <div *ngIf="f.submitted && ITEM_NAME.invalid" class="invalid-feedback">
                                          <div *ngIf="ITEM_NAME?.errors?.required">Plato es obligatorio</div>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label for="DESCRIPCION">DESCRIPCION</label>
                                      <input type="text" [(ngModel)]="item.DESCRIPCION" id="DESCRIPCION" name="DESCRIPCION" #DESCRIPCION="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && DESCRIPCION.invalid }" placeholder="Coloque la descripcion">
                                      <div *ngIf="f.submitted && DESCRIPCION.invalid" class="invalid-feedback">
                                          <div *ngIf="DESCRIPCION?.errors?.required">Descripcion es obligatoria</div>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label for="PRECIO">PRECIO</label>
                                      <input type="number" [(ngModel)]="item.PRECIO" id="PRECIO" name="PRECIO" #PRECIO="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && PRECIO.invalid }" placeholder="Marque el precio">
                                      <div *ngIf="f.submitted && PRECIO.invalid" class="invalid-feedback">
                                          <div *ngIf="PRECIO?.errors?.required">Precio es Obligatorio</div>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                    <label for="FOTO_URL">FOTO URL</label>
                                    <input type="text" [(ngModel)]="item.FOTO_URL" id="FOTO_URL" name="FOTO_URL" #FOTO_URL="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && FOTO_URL.invalid }" placeholder="El url de la foto">
                                    <div *ngIf="f.submitted && FOTO_URL.invalid" class="invalid-feedback">
                                        <div *ngIf="FOTO_URL?.errors?.required">La url es obligatoria</div>
                                    </div>
                                  </div>
                                      <div class="form-group">
                                          <label for="TIPO_COMIDA">TIPO DE COMIDA</label>
                                      
                                              <div class="form-check form-check-inline" >
                                                      <input class="form-check-input" type="radio" [(ngModel)]="item.TIPO_COMIDA" value= 0 checked name="flexRadioDefault" id="flexRadioDefault1" #TIPO_COMIDA="ngModel" required >
                                                      <label class="form-check-label" for="TIPO_COMIDA">
                                                      Normal
                                                      </label>
                                              </div>
                                            <div class="form-check form-check-inline" >
                                                <input class="form-check-input" type="radio" [(ngModel)]="item.TIPO_COMIDA" value= 1   id="flexRadioDefault2" name="TIPO_COMIDA" #TIPO_COMIDA="ngModel" required  >
                                                <label class="form-check-label" for="TIPO_COMIDA1">
                                                Vegetariana
                                                </label>  
                                            </div>
                                        </div>  
                                  
                                


                                          
                                <div class="form-group">               
                                  <button type="submit" class="btn btn-primary btn-add-car">Salvar</button>
                                  <button type="reset" class="btn btn-secondary btn-add-car" (click)="cleanForm(f)">Cancelar</button>
                                  </div>
                                </form>
                                
                              </div>
                            </div>
                          </div>
                        
                      </div>
  -->






                        
                        
                        <div class="container">
                            <div class="card list-car">
                            <h5 class="card-header">Lista de platos</h5>
                            <div class="card-body">
                              <table class="table">
                                  <thead>
                                    <tr>
                                      <th scope="col">ID</th>
                                      <th scope="col">NOMBRE DEL ITEM</th>
                                      <th scope="col">DESCRIPCION</th>
                                      <th scope="col">TIPO DE COMIDA</th>
                                      <th scope="col">PRECIO</th>
                                      <th scope="col">FOTO URL</th>
                                      <th scope="col">FECHA DE CREACION </th>
                                      <th scope="col">FECHA DE ACTUALIZACION</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let item of items.items ">
                                                                                
                                    <td>{{ item.id}} </td>
                                    <td>{{ item.ITEM_NAME }}</td>
                                      <td >{{ item.DESCRIPCION }}</td>
                                  
                                      <td >{{ item.TIPO_COMIDA ? "Vegetariana":"Normal"  }} </td>
                                      <td>{{ item.PRECIO | currency:'BRL'}}</td>
                                      <td class= "d-inline-block text-truncate" style="max-width: 20vw;" ><a href="item.FOTO_URL" target="_blank" >{{ item.FOTO_URL }}</a></td>  
                                      <td>{{ item.createdAt | date:'d MMM , y, h:mm a'}}</td> 
                                      <td>{{ item.updatedAt | date:'d MMM , y, h:mm a'  }}</td>
                                      <td>
                                        <button type="button" class="btn btn-warning btn-sm" (click)="editItem(item)" data-bs-toggle="modal" data-bs-target="#plato-form-modal" >Editar</button>
                                        <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteItem(item)">Borrar</button>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                                
                                
                                
                            </div>
                          </div>
                        
                          
                        
                         <!--  <div class="card add-car">
                              <h5 class="card-header">Adicionar/Actualizar plato</h5>
                              <div class="card-body">
                                  <form id="add-form" (ngSubmit)="f.form.valid && saveItem(f)" #f="ngForm" novalidate>
                                    <div class="form-group">
                                        <label for="ITEM_NAME">ITEM NAME</label>
                                        <input type="text" [(ngModel)]="item.ITEM_NAME" id="ITEM_NAME" name="ITEM_NAME" #ITEM_NAME="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && ITEM_NAME.invalid }" placeholder="Coloque el nombredel plato">
                                        <div *ngIf="f.submitted && ITEM_NAME.invalid" class="invalid-feedback">
                                            <div *ngIf="ITEM_NAME?.errors?.required">Plato es obligatorio</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="DESCRIPCION">DESCRIPCION</label>
                                        <input type="text" [(ngModel)]="item.DESCRIPCION" id="DESCRIPCION" name="DESCRIPCION" #DESCRIPCION="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && DESCRIPCION.invalid }" placeholder="Coloque la descripcion">
                                        <div *ngIf="f.submitted && DESCRIPCION.invalid" class="invalid-feedback">
                                            <div *ngIf="DESCRIPCION?.errors?.required">Descripcion es obligatoria</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="PRECIO">PRECIO</label>
                                        <input type="number" [(ngModel)]="item.PRECIO" id="PRECIO" name="PRECIO" #PRECIO="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && PRECIO.invalid }" placeholder="Marque el precio">
                                        <div *ngIf="f.submitted && PRECIO.invalid" class="invalid-feedback">
                                            <div *ngIf="PRECIO?.errors?.required">Precio es Obligatorio</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="FOTO_URL">FOTO URL</label>
                                      <input type="text" [(ngModel)]="item.FOTO_URL" id="FOTO_URL" name="FOTO_URL" #FOTO_URL="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && FOTO_URL.invalid }" placeholder="El url de la foto">
                                      <div *ngIf="f.submitted && FOTO_URL.invalid" class="invalid-feedback">
                                          <div *ngIf="FOTO_URL?.errors?.required">La url es obligatoria</div>
                                      </div>
                                    </div>
                                        <div class="form-group">
                                            <label for="TIPO_COMIDA">TIPO DE COMIDA</label>
                                        
                                                <div class="form-check form-check-inline" >
                                                        <input class="form-check-input" type="radio" [(ngModel)]="item.TIPO_COMIDA" value= 0 checked name="flexRadioDefault" id="flexRadioDefault1" #TIPO_COMIDA="ngModel" required >
                                                        <label class="form-check-label" for="TIPO_COMIDA">
                                                        Normal
                                                        </label>
                                                </div>
                                              <div class="form-check form-check-inline" >
                                                  <input class="form-check-input" type="radio" [(ngModel)]="item.TIPO_COMIDA" value= 1   id="flexRadioDefault2" name="TIPO_COMIDA" #TIPO_COMIDA="ngModel" required  >
                                                  <label class="form-check-label" for="TIPO_COMIDA1">
                                                  Vegetariana
                                                  </label>  
                                              </div>
                                          </div>  
                                    
                                  


                                            
                                  <div class="form-group">               
                                    <button type="submit" class="btn btn-primary btn-add-car">Salvar</button>
                                    <button type="reset" class="btn btn-secondary btn-add-car" (click)="cleanForm(f)">Cancelar</button>
                                    </div>
                                  </form>
                              </div>
                            </div> -->
                          </div>
 </div>