
.container {
    margin-top: 30px;
}

.add-car {
    margin-bottom: 30px;
}

.list-car {
    margin-bottom: 50px;
}

.btn-add-car {
    margin-right: 10px;
}

.affix{
    right: 0px;
}
.affix-top{
    right: 0px;
    position: fixed;
}

#Repositorios{
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 10px;
}


 #Repositorios article {
  display:flexbox;
   background-color: white;
  color: #434343;
  border: 1px solid rgb(7, 7, 7);
  margin:30px 15px 30px 15px;
  width: 300px;
  text-align: center;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.2);
}  
