
.container {
    margin-top: 30px;
}

.add-car {
    margin-bottom: 30px;
}

.list-car {
    margin-bottom: 50px;
}

.btn-add-car {
    margin-right: 10px;
}

.affix{
    right: 0px;
}
.affix-top{
    right: 0px;
    position: fixed;
}


#superdiv:nth-child(5n) article {

    flex-basis: 100%;
    height: 0;
}
